<body>

  <h1 class="tituloPersona">{{titulo}}</h1>
  <button (click)="mostrarNombre()" class="btn waves-effect waves-light" >Mostrar Nombre
    <i class="material-icons right">send</i>
  </button>
  <h2 class="nombre">{{nombre}}</h2>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://st4.depositphotos.com/12981370/24312/i/450/depositphotos_243120806-stock-photo-programmer-working-software-development-coding.jpg">
          <span class="card-title">Imagen Programador</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Este es un enlace</a>
        </div>
      </div>
    </div>
  </div>


</body>
<app-persona></app-persona>

